div, textarea {
    padding: 0;
    margin: 0;
    min-height: 85%;
    font-family: Roboto, Arial, sans-serif;
    line-height: 15px;
    color: #667;
}

header {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.container {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

#create-server {
    width: auto;
    padding: 5px;
    color: black;
    border: none;
    background-color: greenyellow;
}

#remove-server {
    width: auto;
    padding: 5px;
    color: white;
    border: none;
    background-color: red;
}

.message-error{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}